body {
    margin: 0;
    padding: 0;
    background-image: url('images/fondo.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
}




header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position: relative;
}

h1 {
    margin: 0;
}

.rex-img {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
}

main {
    padding: 2em;
}

.intro, .features, .artifacts, .maps {
    background-color: #ffffff;
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2, .features h2, .artifacts h2, .maps h2 {
    text-align: center;
    margin-top: 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

.intro-content {
    flex: 1;
    margin-right: 1em;
}

.intro-image {
    flex: 1;
    text-align: center;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em; /* Espacio entre la imagen y el botón */
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #522276;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1em; /* Espacio arriba del botón */
}

.btn:hover {
    background-color: #0056b3;
}

.btn-shop {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #522276;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-shop:hover {
    background-color: #0056b3;
}

.artifacts, .maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artifact, .map {
    text-align: center;
    margin: 1em;
    flex: 1 1 calc(33.333% - 2em);
    box-sizing: border-box;
}

.artifact img {
    max-width: 150px;
    height: auto;
}

.map img {
    max-width: 250px;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Estilos específicos para la página "Cómo Domésticar Dinos?" */

.domestication {
    background-color: #ffffff;
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.domestication h2 {
    text-align: center;
    margin-top: 0;
}

.domestication ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.domestication li {
    margin-bottom: 1em;
}

.method-images {
    display: flex;
    justify-content: center;
}

.method-images img {
    max-width: 400px;
    height: auto;
    margin: 0 0.5em; /* Espacio entre las imágenes */
}


.method {
    text-align: center;
}

.method p {
    margin: 0;
}

/* Estilos para los botones */

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #522276;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1em;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos específicos para la página "Tipo de Dinos" */

.dinos {
    background-color: #ffffff;
    padding: 2em;
    margin: 1em auto;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido de la sección */
}

.dinos h2 {
    text-align: center;
    margin-top: 0;
}

.dino {
    text-align: center;
    margin: 1em;
    display: inline-block;
    vertical-align: top;
    width: 30%; /* Ajusta el ancho de las celdas */
    min-width: 200px; /* Ancho mínimo de las celdas */
}

.dino img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

.dino p {
    margin: 0;
}

/* Estilos para los botones */

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #522276;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1em;
}

.btn:hover {
    background-color: #0056b3;
}

.dino img {
    max-width: 300px;
    height: auto;
    margin: 0 0.5em; /* Espacio entre las imágenes */
}